:root {
  --border-color: #ced4da;
}

.phoneNumberContainer {
  border: 1px solid var(--border-color);
}

#canadianPhoneNumber,
#phoneCode {
  border: none;
}

#phoneCode {
  border-right: 1px solid var(--border-color);
}

#canadianPhoneNumber,
#phoneCode:focus {
  box-shadow: none;
}

#indigenousCheckBox {
  padding: 0.6rem;
  margin-right: 1rem;
}

#formState {
  word-wrap: break-word;
  word-break: break-all;
}
